/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
                                                /* Home Page */
/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f5f5f5;
    position: relative;
}

/* Logo */
.logo img {
    height: auto;
    width: 150px;
}

/* Desktop Nav */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.nav_links a {
    font-size: 1.1rem;
    padding: 10px 20px;
    color: #520c1f;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.nav_links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: #7a1c2e;
    transition: width .3s, left .3s;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav_links a:hover::after {
    width: 100%;
    left: 50%;
}

nav li {
    margin-right: 20px;
    position: relative;
}

nav li:last-child {
    margin-right: 0;
}

.dropdown {
    position: absolute;
    top: 140%;
    left: -15px;
    background-color: #f1f1f1;
    display: none;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.dropdown li {
    margin: 0;
    margin-bottom: 10px;
}

nav li:hover .dropdown {
    display: flex;
}

.dropdown li a {
    padding: 5px 20px;
    color: #520c1f;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact_button {
    background-color: #580c1f;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact_button:hover {
    background-color: #fff;
    color: #580c1f;
    box-shadow: 0 0 0 2px #580c1f, 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Sidebar Menu */
.side-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.sidebar-menu-button img {
    width: 35px;
    height: 35px;
}

.side-nav.show {
    transform: translateX(0);
}

.side-nav ul {
    margin-top: 60px;
    padding-left: 0;
}

.side-nav ul li {
    margin-bottom: 10px;
    list-style: none;
}

.side-nav ul li a {
    color: #520c1f;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.side-nav ul li a:hover {
    background-color: #7a1c2e;
    color: #fff;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #520c1f;
}

.sidebar-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #520c1f;
}

/* Desktop styles */
.sidebar-menu-button {
    display: none;
}

#desktop-nav {
    display: block;
}

.contact {
    position: static;
    transform: none;
}

/* Hero section styles */
.hero {
    background-color: #ffffff;
    height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.hero-content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 50px;
}

.hero-text {
    flex: 1;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #580c1f;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: rgb(255, 0, 0);
}

.intro {
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}

.intro p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro p span {
    color: red;
    font-size: 2rem;
}

.project_section-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #580c1f;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 100px;
}

.project-item {
    color: #580c1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid white;
    transition: all 0.3s ease;
}

.project-item:hover {
    border-radius: 0px;
    border-bottom: 5px solid #520c1f;
    transform: translateY(-10px);
}

.project-item img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.project-title {
    font-size: 1.2rem;
    color: #520c1f;
    font-weight: bold;
    background-color: #f3f3f3;
}

.project-item:hover .project-title {
    color: #333;
}

.cta-section {
    background-color: white;
    padding: 40px;
    text-align: center;
}

.cta-title {
    font-size: 2.5rem;
    color: #580c1f;
    margin-bottom: 30px;
}

.cta-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cta-form input {
    border: 2px solid #580c1f;
    border-radius: 4px;
    padding: 10px;
    font-size: 1.2rem;
    width: 50%;
}

.cta-form button {
    background-color: #580c1f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-form button:hover {
    background-color: #fff;
    color: #580c1f;
    box-shadow: 0 0 0 2px #580c1f, 0 5px 15px rgba(0, 0, 0, 0.1);

}

.cta-form input:focus,
.cta-form button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #580c1f;
}

/* Footer Section */
footer {
    background-color: #580c1f;
    color: #fff;
    padding: 1rem 0;
    /* Reduced padding */
    position: relative;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 4px;
}

footer nav a:hover {
    background-color: #ffffff;
    color: #580c1f;
}

footer nav a:active {
    background-color: #580c1f;
    color: #ffffff;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* Reduced margin */
}

.social-media a {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    transition: transform 0.3s ease;
    margin: 0 0.5rem;
}

.social-media a:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.social-media img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1);
}

.copyright {
    margin: 1rem 0;
    /* Reduced margin */
}


/* Tablet styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .sidebar-menu-button {
        display: block;
    }

    #desktop-nav {
        display: none;
    }

    .contact {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 70%;
    }

    .side-nav {
        width: 60%;
        max-width: 200px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        justify-items: center;
    }

    .social-media a {
        margin: 0 0.25rem;
    }

    .hero-content {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-image {
        width: 200px;
        height: 200px;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }

    .projects {
        padding: 30px;
    }

    .project_section-title {
        font-size: 1.5rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .project-title {
        font-size: 1.2rem;
    }

    .cta-section {
        padding: 30px;
    }

    .cta-title {
        font-size: 2rem;
    }

    .cta-form input {
        font-size: 1rem;
        width: 60%;
    }
}

/* Mobile styles */
@media (max-width: 767px) {
    .sidebar-menu-button {
        display: block;
    }

    #desktop-nav {
        display: none;
    }

    .contact {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
    }

    .side-nav {
        width: 60%;
        max-width: 200px;
    }

    .side-nav {
        width: 50%;
        max-width: 150px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        justify-items: center;
    }

    .social-media a {
        margin: 0 0.125rem;
    }

    .hero-content {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero-image {
        width: 150px;
        height: 150px;
    }

    .hero-title {
        font-size: 1.2rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .projects {
        padding: 20px;
    }

    .project_section-title {
        font-size: 1.2rem;
    }

    .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .project-title {
        font-size: 1rem;
    }

    .cta-section {
        padding: 20px;
    }

    .cta-title {
        font-size: 1.5rem;
    }

    .cta-form {
        flex-direction: column;
    }

    .cta-form input {
        font-size: 0.9rem;
        width: 100%;
    }
}


                                                    /* Contact Page */
.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.contact-page form {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.contact-page .name {
    display: flex;
    gap: 10px;

}

.contact-page h2 {

    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #520c1f;
    text-align: center;
}

.contact-page p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: black;
    text-align: center;
}

.contact-page .form-group {
    margin-bottom: 20px;
}

.contact-page .form-group label {
    display: block;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 5px;
}

.contact-page .form-group input[type="text"],
.contact-page .form-group input[type="email"],
.contact-page .form-group input[type="tel"],
.contact-page .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid #520c1f;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.contact-page .form-group textarea {
    resize: none;
    min-height: 150px;
    height: auto;
}

.contact-page .form-group input[type="text"]:focus,
.contact-page .form-group input[type="email"]:focus,
.contact-page .form-group input[type="tel"]:focus,
.contact-page .form-group textarea:focus {
    outline: none;
    border-color: #4d90fe;
}

.contact-page button[type="submit"] {
    font-weight: bold;
    padding: 12px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: #520c1f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-page button[type="submit"]:hover {
    background-color: #fff;
    color: #580c1f;
    box-shadow: 0 0 0 2px #580c1f, 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-page button[type="submit"]:active {
    background-color: #d8d6d6;
}

                                                /* skills Page */
.skills {
    max-width: 80%;
    margin: 40px auto;
    padding: 30px;
}

.skills h2 {
    margin: 0;
    font-weight: bold;
    color: #520c1f;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    /* Added text shadow */
}

.skill-intro {
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
    font-style: italic;
    text-align: center;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
}

.skill-list div {
    width: calc(50% - 30px);
    margin: 15px;
    padding: 25px;
    border-bottom: 5px solid white;
    transition: all 0.3s ease;
    /* Added transition */
}

.skill-list div:hover {
    border-radius: 0px;
    border-bottom: 5px solid #520c1f;
    transform: translateY(-10px);
    /* Added hover effect */
}

.skill {
    font-weight: bold;
    margin-bottom: 10px;
    color: #520c1f;
    text-transform: uppercase;
    font-size: 20px;
}

.level {
    font-size: 16px;
    color: #666;
    background: #f3f3f3;
    /* Added background color */
    padding: 5px;
    /* Added padding */
    border-radius: 5px;
    /* Added border radius */
}

.internship {
    background-color: #ffffff;
    text-align: center;
    color: #000;
    padding: 20px;
    overflow: hidden;
}

.intro-section {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    /* centers the .intro-section horizontally */
    margin-top: 20px;
}

.intro-section img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 50%;
}

.intro-text {
    flex: 1;
}

.intro-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #580c1f;
}

.intro-text p {
    font-size: 1.2rem;
    color: black;
}

.internship .skills-container,
.internship .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.internship .skill,
.internship .project {
    width: 200px;
    margin: 20px;
    border-bottom: 5px solid #ffffff;
    transition: all 0.3s ease;
}

.internship .skill:hover,
.internship .project:hover {
    border-radius: 0px;
    border-bottom: 5px solid #520c1f;
    transform: translateY(-10px);
}

.internship .skill img,
.internship .project img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.internship .skill p,
.internship .project h3 {
    font-size: 1.2rem;
    color: #520c1f;
    font-weight: bold;
    background-color: #f3f3f3;
    text-transform: uppercase;
}

.internship .skills h2,
.internship .projects h2 {
    font-size: 2.5rem;
    color: #580c1f;
    margin-bottom: 20px;
}

.testimonials {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.testimonials h2 {
    font-size: 2.5rem;
    color: #580c1f;
    margin-bottom: 20px;
    font-weight: bold;
    /* added bold font weight */
}

.testimonials-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.testimonial {
    flex: 0 0 auto;
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #fff;
    border: 1px solid #ddd;
    /* added a border */
}

.testimonial:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-color: #580c1f;
    /* changed border color on hover */
}

.testimonial-text {
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.testimonial-text p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    font-style: italic;
    /* added italic font style */
}

.testimonial-footer {
    margin-top: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    /* added a light gray background */
    border-top: 1px solid #ddd;
    /* added a border */
}

.testimonial-footer h4,
.testimonial-footer.position {
    font-size: 1.2rem;
    color: #580c1f;
    margin: 0;
}

.testimonial-footer.position {
    font-size: 1rem;
    color: #777;
    font-weight: normal;
    /* changed font weight to normal */
}

/* added a quote icon */
.testimonial-text:before {
    content: "\201C";
    /* left double quote */
    font-size: 2rem;
    color: #580c1f;
    margin-right: 10px;
}

.testimonial-text:after {
    content: "\201D";
    /* right double quote */
    font-size: 2rem;
    color: #580c1f;
    margin-left: 10px;
}

.current-experience h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 2.5rem;
    color: #580c1f;
    margin-bottom: 20px;
}

.current-experience .jobs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-experience .job {
    width: 200px;
    margin: 20px;
    border-bottom: 5px solid #ffffff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-experience .job:hover {
    border-radius: 0px;
    border-bottom: 5px solid #520c1f;
    transform: translateY(-10px);
}

.current-experience .job img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.current-experience .job h3 {
    font-size: 1.2rem;
    color: #520c1f;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    text-transform: uppercase;

}

.future-goals h2 {
    margin-top: 10px;
    font-size: 2.5rem;
    color: #580c1f;
    margin-bottom: 20px;
    text-align: center;
}

.future-goals .goal-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.future-goals .goal {
    width: 200px;
    margin: 20px;
    border-bottom: 5px solid #ffffff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.future-goals .goal:hover {
    border-radius: 0px;
    border-bottom: 5px solid #520c1f;
    transform: translateY(-10px);
}

.future-goals .goal img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.future-goals .arrow img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.future-goals .goal h3 {
    font-size: 1.2rem;
    color: #520c1f;
    font-weight: bold;
    background-color: #f3f3f3;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.certification-goals .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.certification-goals .cert {
    width: 200px;
    margin: 20px;
    border-bottom: 5px solid #ffffff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.certification-goals .cert:hover {
    border-radius: 0px;
    border-bottom: 5px solid #520c1f;
    transform: translateY(-10px);
}

.certification-goals .cert img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.certification-goals .cert h3 {
    font-size: 1.2rem;
    color: #520c1f;
    font-weight: bold;
    background-color: #f3f3f3;
    text-transform: uppercase;
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.certification-goals h2 {
    margin-top: 10px;
    font-size: 2.5rem;
    color: #580c1f;
    margin-bottom: 20px;
    text-align: center;
}